# This file contains pin mappings for the stock Sovol SV06.
# 
# Find installation instructions at https://github.com/bassamanator/Sovol-SV06-firmware
# 
# See https://www.klipper3d.org/Config_Reference.html for configuration reference.

[include ./osskc.cfg]

[mcu]
# NOTE Obtain definition by "ls -l /dev/serial/by-path/" or "ls -l /dev/serial/by-id/"
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor rpi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 11300
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5.0

# [mcu tr]
# serial: /dev/serial/by-id/usb-Klipper_samd21g18a_D5E4A9395130545120202046331310FF-if00

# [filament_switch_sensor my_sensor]
# switch_pin: ^tr:PA6

#####################################################################
#      X/Y/Z Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 250 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC1
run_current: 0.900
stealthchop_threshold: 1
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA5

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 240 # NOTE You can adjust this if you have more room
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC0
run_current: 0.900
stealthchop_threshold: 1
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA6

[stepper_z]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -8
position_max: 215 # NOTE You can adjust this if you have more room
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC14
run_current: 0.5
stealthchop_threshold: 1
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7

[stepper_z1]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: PA15
run_current: 0.5
stealthchop_threshold: 1
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7


#####################################################################
#   Extruder
#####################################################################

[servo my_servo]
# pin: rpi:gpio24
pin: PB0
maximum_servo_angle: 90
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0015
initial_pulse_width: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 120

#####################################################################
#   Fans
#####################################################################

[controller_fan main_fan]
pin: PA0
idle_speed: 0.5

#####################################################################
#   Misc
#####################################################################

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[screws_tilt_adjust]
screw1_name: center
screw1: 130, 105
screw2_name: front left
screw2: 45, 20
screw3_name: front right
screw3: 215, 20
screw4_name: back right
screw4: 215, 190
screw5_name: back left
screw5: 45, 190
horizontal_move_z: 10
screw_thread: CCW-M4

[input_shaper]
shaper_freq_x: 65.2
shaper_type_x: mzv
shaper_freq_y: 62.2
shaper_type_y: mzv


[z_tilt]
z_positions:
    0,125
    245,125
points:
    25,125
    230,125
horizontal_move_z: 15
retries: 20
retry_tolerance: 0.0050
speed: 500

[axis_twist_compensation]
calibrate_start_x: 20
calibrate_end_x: 200
calibrate_y: 110

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_data: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.884
#*# pid_ki = 1.339
#*# pid_kd = 938.322
#*#
#*# [extruder]
#*#
#*# [probe]
#*# z_offset = 3.659
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.023197, 0.030697, 0.031947, -0.050553, -0.021803
#*# 	-0.041803, -0.013053, -0.004303, -0.050553, -0.011803
#*# 	-0.070553, -0.013053, 0.000697, -0.026803, 0.023197
#*# 	-0.084303, -0.008053, 0.020697, -0.016803, 0.038197
#*# 	0.076947, 0.019447, 0.020697, -0.023053, 0.019447
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 220.0
#*# min_y = 25.0
#*# max_y = 220.0
